.nav{
  padding-left:0;
  margin-bottom:0;
  list-style:none;
  float:right;
}

#projects h3{
  font-weight:500;
  text-align:center;
}

div.col-md-4.item{
  text-align:justify;
}

#projects img.img-responsive{
  margin:0 auto;
  transition:all 0.5s;
  border-radius:10px;
}

div#story{
  background:linear-gradient(#8dcff4,#8dcff4,#ca3157);
  background-attachment:fixed;
  background-repeat:no-repeat;
  background-size:cover;
  margin-bottom:50px;
}

#story div.jumbotron{
  background:rgba(255,255,255,0.5);
  max-width:1160px;
  margin:0 auto;
}

img#game_icon{
  display:inline;
  margin-right:10px;
  max-width:100px;
}

#download h1{
  font-weight:300;
  text-align:center;
}

#download p{
  text-align:center;
}

#download .btn-group{
  font-size:40px;
  margin-top:26px;
  text-align:center;
}

img#play_store{
  max-width:300px;
}

@media (max-width:767px) {
  #project h1{
    font-size:34px;
  }
}

@media (max-width:767px) {
  #story div.jumbotron p{
    font-size:16px;
  }
}

@media (max-width:767px) {
  #download h1{
    font-size:30px;
  }
}

@media (max-width:767px) {
  div.iphone-mockup{
    position:relative;
    max-width:350px;
    margin:20px;
    margin:0 auto;
    margin-top:-255px;
    transform:rotate(90deg) scale(0.4);
  }
}

div#btn_downloads.col-md-12{
  margin-top:-34px;
}

@media (max-width:767px) {
  div#btn_downloads.col-md-12{
    margin-top:-184px;
  }
}

div#donate form input[type='image']{
  margin:auto auto;
  text-align:center;
}

div#preview.container{
  margin-top:50px;
  margin-bottom:50px;
}

#preview p{
  font-size:23px;
  text-align:right;
}

#preview h1{
  text-align:right;
}

@media (max-width:767px) {
  #preview h1{
    text-align:center;
  }
}

@media (max-width:767px) {
  #preview p{
    text-align:center;
  }
}

@media (max-width:991px) {
  #preview h1{
    text-align:center;
  }
}

@media (max-width:991px) {
  #preview p{
    text-align:center;
  }
}

div.embed-responsive.embed-responsive-4by3{
  display:none;
}

@media (max-width:991px) {
  div.embed-responsive.embed-responsive-4by3{
    display:block;
  }
}

#projects p{
  font-size:20px;
  text-align:justify;
}

div.devs p.text-center.position{
  font-size:16px;
  color:#656161;
}

i.fa.fa-google{
  color:#d72424;
}

i.fa.fa-twitter{
  color:#4facc1;
}

@media (max-width:991px) {
  h2.media-heading{
    font-weight:300;
    letter-spacing:4px;
    text-align:left;
    font-size:17px;
  }
}

@media (max-width:1199px) {
  #developer div.col-md-4.res-col{
    width:100%;
  }
}

#download .btn-group button{
  width:50%;
}

@media (max-width:767px) {
  #download span.btn-group{
    margin-top:200px;
  }
}

footer.footer-admin{
}

#projects img.img-responsive:hover{
  box-shadow:0 0 34px #903;
}

@media (max-width:767px) {
  .info h3{
    display:none;
  }
}

@media (max-width:767px) {
  #projects p{
    font-size:12px;
    margin-top:10px;
  }
}

.text-old{
  font-family:macondo;
}

.text-mystic{
}

.text-mystic{
  font-family:Berkshire Swash;
}

.text-devine{
  font-family:Righteous;
}

.text-passive{
  font-family:Shrikhand;
}

.text-past{
  font-family:Fredericka the Great;
}

